body{
    height: 100vh;
    font-family: sans-serif;
    margin: 0 5%;
}

body>header{
    height: 1.5rem;
}

body>main{
    --max-height: calc(100vh - 1.5rem);
}

p{
    margin: 0;
}

/* remove this later */
#test{
    height: 100%;
}

.hidden{
    opacity: 0;
}

.gone{
    display: none;
}

.disabled{
    opacity: 50%;
}
