#submenu{
    height: 100%;
}

/* IE CSS */
#submenu>article{
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#submenu p, #submenu i{
    display: none;
}

/* show only text */
#submenu a>div:nth-child(3)>p{
    display: block;
}

@supports (display: grid) {
    /* remove IE styles */
    #submenu>article{
        text-align: initial;
        position: initial;
        top: initial;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    #submenu p, #submenu i{
        display: initial;
    }

    /* Acutal css */
    #submenu{
        display: grid;
        align-items: start;
        justify-items: center;
    }

    #submenu>article{
        display: grid;
        grid-template-columns: auto auto auto auto;
        column-gap: 20px;
        row-gap: 10px;
    }

    #submenu>article>a{
        height: 50px;
        width: 50px;
        border: 2px solid black;
        display: grid;
        padding: 3px;
        color: black;
        cursor: pointer;
        text-decoration: none;
        font-size: 0.6rem;
    }

    #submenu>article>a>div:nth-child(1), #submenu>article>a>p{
        grid-row-start: 1;
        grid-column-start: 1;
    }

    #submenu>article>a>div:nth-child(1){
        text-align: center;
        background-color: red;
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 84%;
        color: white;
        display: grid;
        align-content: center;
    }

    #submenu>article>a>div:nth-child(2){
        grid-row-start: 1;
        grid-column-start: 2;
    }

    #submenu>article>a>div:nth-child(2)>p{
        float: right;
        color: blue;
        text-decoration: underline;
        width: 0.6rem;
        text-align: right;
    }

    #submenu>article>a>div:nth-child(3){
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 1;
        grid-row-end: span 3;
        display: grid;
        place-content:center;
        text-align:center;
        font-size:0.59rem;
    }

    /* Small screen */
    @media (max-width: 316px) {
        #submenu>article {
            grid-template-columns: auto auto auto; 
        }   
    }

    /* Small screen */
    @media (max-width: 250px) {
        #submenu>article {
            grid-template-columns: auto auto; 
        }   
    }

    /* Small screen */
    @media (max-width: 164px) {
        #submenu>article {
            grid-template-columns: auto; 
        }   
    }
}