<main id="submenu"> <!-- submenu component that center the grid -->
    <article> <!-- grid container of all submenu buttons -->
        <a href="#" class="submenu-button" name="news">
            <div>
                <p>1</p>
            </div>
            <div>
                <p>i</p>
            </div>
            <div>
                <p>Nieuws</p>
            </div>
        </a>

        <a href="email.hva.nl" target="_blank">
            <p></p>
            <div>
                <p>i</p>
            </div>
            <div>
                <p>Mail</p>
            </div>
        </a>

        <a href="https://student.hva.nl/alle-lijsten/alle-lijsten.html#anker-a-z-studenten-nederlands" target="_blank">
            <p></p>
            <div>
                <p>i</p>
            </div>
            <div>
                <p>A-Z</p>
            </div>
        </a>

        <a href="https://dlo.mijnhva.nl" target="_blank">
            <p></p>
            <div>
                <p>i</p>
            </div>
            <div>
                <p>Bright Space</p>
            </div>
        </a>

        <a href="https://sis.hva.nl/" target="_blank">
            <p></p>
            <div>
                <p>i</p>
            </div>
            <div>
                <p>SIS</p>
            </div>
        </a>

        <a href="https://studiegids.hva.nl" target="_blank">
            <p></p>
            <div>
                <p>i</p>
            </div>
            <div>
                <p>Studiegids</p>
            </div>
        </a>

        <a href="https://www.hva.nl/bibliotheek" target="_blank">
            <p></p>
            <div>
                <p>i</p>
            </div>
            <div>
                <p>Bibliotheek</p>
            </div>
        </a>

        <a href="https://start.mijnhva.nl/" target="_blank">
            <p></p>
            <div>
                <p>i</p>
            </div>
            <div>
                <p>Opleidings Pagina</p>
            </div>
        </a>

        <a href="https://www.hva.nl/over-de-hva/locaties/locaties.html" target="_blank">
            <p></p>
            <div>
                <p>i</p>
            </div>
            <div>
                <p>HvA Locaties</p>
            </div>
        </a>

        <a href="https://www.hva.nl/over-de-hva/organisatie/bestuur-en-afdelingen.html" target="_blank">
            <p></p>
            <div>
                <p>i</p>
            </div>
            <div>
                <p>HvA Organisatie</p>
            </div>
        </a>

        <a href="#" class="disabled">
            <p></p>
            <div>
                <p>i</p>
            </div>
            <div>
                <p>Instellingen</p>
            </div>
        </a>

        <a href="#" class="disabled">
            <p></p>
            <div>
                <p></p>
            </div>
            <div>
                <p></p>
            </div>
        </a>
    </article>
</main>