#menu{
    height: 100%;
}

/* IE CSS */
#menu>article{
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#menu p, #menu i{
    display: none;
}

/* show only text */
#menu a>div:nth-child(3)>p{
    display: block;
}

@supports (display: grid) {
    /* remove IE styles */
    #menu>article{
        text-align: initial;
        position: initial;
        top: initial;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    #menu p, #menu i{
        display: initial;
    }

    /* Acutal css */
    #menu{
        display: grid;
        place-items: center;
    }

    #menu>article{
        display: grid;
        grid-template-columns: auto auto auto auto;
        column-gap: 20px;
        row-gap: 10px;
    }

    #menu>article>a{
        height: 50px;
        width: 50px;
        border: 2px solid black;
        display: grid;
        padding: 3px;
        color: black;
        cursor: pointer;
        text-decoration: none;
        font-size: 0.6rem;
    }

    #menu>article>a>div:nth-child(1){
        color: red;
        grid-row-start: 1;
        grid-column-start: 1;
    }

    #menu>article>a>div:nth-child(2){
        grid-row-start: 1;
        grid-column-start: 2;
    }

    #menu>article>a>div:nth-child(2)>p{
        float: right;
        text-align: center;
        background-color: red;
        width: 0.6rem;
        border-radius: 72%;
        color: white;
    }

    #menu>article>a>div:nth-child(3){
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 1;
        grid-row-end: span 3;
        display: grid;
        place-content:center;
        text-align:center;
        font-size:0.59rem;
    }
}