<main id="news"> <!-- container -->

    <article> <!-- Menu -->
        <section>
            <p>Opleiding</p>
        </section>
        <section>
            <p>Faculteiten</p>
        </section>
        <section>
            <p>HvA breed</p>
        </section>
        <section>
            <p>Medezeggenschap</p>
        </section>
    </article>

    <article><!-- education container -->
        <section class="bold"><!-- child item -->
            <p>Denk mee over verdere invulling eten en drinken op jouw campus.</p>
            <p>12-11-2010</p>
        </section>

        <section><!-- child item -->
            <p>Oud-studenten winnen Nestlé scriptieprijs voor Diëtetiek</p>
            <p>03-05-2007</p>
        </section>
    </article>

    <article class="gone"><!-- facilities container -->
        <section><!-- child item -->
            <p>Maak jij gebruik van BSCW? Dit systeem is binnenkort niet meer beschikbaar</p>
            <p>06-12-2017</p>
        </section>

        <section><!-- child item -->
            <p>SO-HIP: Onderzoek naar vallen en opstaan</p>
            <p>12-11-2010</p>
        </section>
    </article>

    <article class="gone"><!-- hva container -->
        <section><!-- child item -->
            <p>SPRONG-subsidie voor onderzoek vitaliteit stadsbewoners</p>
            <p>09-11-2017</p>
        </section>

        <section><!-- child item -->
            <p>Blog Lenno Munnikes: november</p>
            <p>12-11-2010</p>
        </section>
    </article>

    <article class="gone"><!-- team container -->
        <section><!-- child item -->
            <p>Janine Reitsema: sportdiëtiste op topniveau</p>
            <p>12-11-2010</p>
        </section>

        <section><!-- child item -->
            <p>Hoe smaakt het?</p>
            <p>09-11-2017</p>
        </section>
    </article>

</main>