<main id="messages" class="item"> <!-- container -->

    <article> <!-- children -->
        <section>
            <p>!</p>
        </section>
        <section class="urgent">
            <p>Roosterwijziging: les Engels gaat niet door!</p>
        </section>
        <section>
            <p>21-09-2011</p>
        </section>
    </article>

    <article> 
        <section>
            <p></p>
        </section>
        <section>
            <p>Tentamen Nederlands is verplaatst naar 25 jan.</p>
        </section>
        <section>
            <p>12-11-2019</p>
        </section>
    </article>

    <article> 
        <section>
            <p></p>
        </section>
        <section>
            <p>Nieuwe docent voor wiskunde.</p>
        </section>
        <section>
            <p>12-11-2020</p>
        </section>
    </article>
</main>