#messages{
    height: 100%;
}

#messages .urgent{
    font-weight: bold;
}

@supports (display: grid) {
    #messages{
        /* display: flex; */
        padding: 1rem;
    }

    #messages>article{
        min-height: 75px;
        width: 100%;
        border-bottom: 1px dashed black;
        display: grid;
        grid-template-columns: 75px auto;
        row-gap: 9px;
        padding: 4px 0;
    }

    #messages>article>section{
        font-size: 1.1rem;
        display:grid;
        align-self: center;
        /* padding: 6px; */
        padding: 0px 0;
    }

    #messages>article>section:nth-child(1){
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: span 2;
    }

    #messages>article>section:nth-child(1)>p{
        text-align: center;
        font-size: 3.4rem;
        font-weight: bold;
        color: red;
        font-family: cursive;
    }

    #messages>article>section:nth-child(2){
        grid-column-start: 2;
        grid-row-start: 1;
    }

    #messages>article>section:nth-child(3){
        grid-column-start: 2;
        grid-row-start: 2;
    }

    /* Small screen */
    @media (max-width: 1065px) {
        
        #messages p {
            /* word-break: break-all; */
        }

        #messages>article>section{
            font-size: 0.8rem;
        }

        #messages>article>section:nth-child(1)>p{
            font-size: 2rem;
        }
    }

}