#schedule{
    display: grid;
}

#schedule p{
    /* margin: 0.5rem; */
}

#schedule>article{
    width: 100%;
    display: grid;
    grid-template-columns: 4rem auto auto;
    border-bottom: 1px dashed black;
    cursor: pointer;
    margin-bottom: 15px;
}

#schedule>article>p:first-child{
    text-align: center;
    font-size: 1.5rem;
}

#schedule>article>p:nth-child(4){
    text-align: center;
}

#schedule>article>p:nth-child(3){
    text-align: right;
}

#schedule>article>p:last-child{
    text-align: right;
}