#container{
    display: grid;
    grid-template-columns: 50% 50%;
}

#container>article{
    height: 100%;
}

#container>article:first-child{
    height: var(--max-height);;
}

#container>article:first-child>section{
    height: 50%;
}

#container>article:first-child>section:first-child{

}

#container>article:first-child>section:last-child{

}

#container>article:last-child{

}



