#berichten{
    height: 100%;
}

#berichten .urgent{
    font-weight: bold;
}

@supports (display: grid) {
    #berichten{
        /* display: flex; */
        padding: 1rem;
        flex-direction: column;
    }

    #berichten>article{
        min-height: 75px;
        width: 100%;
        border: 2px solid black;
        display: grid;
        grid-template-columns: 75px auto;
        row-gap: 9px;
        margin-bottom: 1rem;
        padding: 4px 0;
    }

    #berichten>article>section{
        font-size: 1.1rem;
        display:grid;
        align-self: center;
        /* padding: 6px; */
        padding: 0px 0;
    }

    #berichten>article>section:nth-child(1){
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: span 2;
    }

    #berichten>article>section:nth-child(1)>p{
        text-align: center;
        font-size: 3.4rem;
        font-weight: bold;
        color: red;
        font-family: cursive;
    }

    #berichten>article>section:nth-child(2){
        grid-column-start: 2;
        grid-row-start: 1;
    }

    #berichten>article>section:nth-child(3){
        grid-column-start: 2;
        grid-row-start: 2;
    }
}