<link rel="stylesheet" href="css/all.css" >
<link rel="stylesheet" href="components/menu/menu.css">
<main id="menu"> <!-- menu component that center the grid -->
    <article> <!-- grid container of all menu buttons -->
        <a href="#">
            <div>
                <p>2</p>
            </div>
            <div>
                <p>i</p>
            </div>
            <div>
                <i class="fas fa-bullhorn"></i>
            </div>
            <div>
                <p>Berichten</p>
            </div>
        </a>

        <a href="#">
            <div>
                <p></p>
            </div>
            <div>
                <p>i</p>
            </div>
            <div>
                <i class="far fa-calendar-alt"></i>
            </div>
            <div>
                <p>Rooster</p>
            </div>
        </a>

        <a href="#">
            <div>
                <p></p>
            </div>
            <div>
                <p>i</p>
            </div>
            <div>
                <i class="fas fa-book"></i>
            </div>
            <div>
                <p>Overzicht vakken</p>
            </div>
        </a>

        <a href="#">
            <div>
                <p>1</p>
            </div>
            <div>
                <p>i</p>
            </div>
            <div>
                <i class="fas fa-star"></i>
            </div>
            <div>
                <p>Resultaten</p>
            </div>
        </a>

        <a href="#">
            <div>
                <p></p>
            </div>
            <div>
                <p>i</p>
            </div>
            <div>
                <i class="fas fa-chart-line"></i>
            </div>
            <div>
                <p>Studievoortgang</p>
            </div>
        </a>

        <a href="#">
            <div>
                <p></p>
            </div>
            <div>
                <p>i</p>
            </div>
            <div>
                <i class="fas fa-mug-hot"></i>
            </div>
            <div>
                <p>Team sites</p>
            </div>
        </a>

        <a href="#">
            <div>
                <p></p>
            </div>
            <div>
                <p>i</p>
            </div>
            <div>
                <i class="far fa-address-book"></i>
            </div>
            <div>
                <p>Contact gegevens</p>
            </div>
        </a>

        <a href="#">
            <div>
                <p></p>
            </div>
            <div>
                <p>i</p>
            </div>
            <div>
                <i class="fas fa-birthday-cake"></i>
            </div>
            <div>
                <p>Evenementen</p>
            </div>
        </a>
    </article>
</main>