<main id="menu"> <!-- menu component that center the grid -->
    <article> <!-- grid container of all menu buttons -->

        <section class="hidden"> <!-- Information about buttons -->
            <p>test</p>
        </section>

        <a href="#" class="menu-button" name="messages"> <!-- All menu buttons -->
            <div>
                <p>2</p>
            </div>
            <div>
                <p class="info-button">i</p>
            </div>
            <div>
                <i class="fas fa-bullhorn"></i>
            </div>
            <div>
                <p>Berichten</p>
            </div>
        </a>

        <a href="#">
            <div>
                <p></p>
            </div>
            <div>
                <p class="info-button">i</p>
            </div>
            <div>
                <i class="far fa-calendar-alt"></i>
            </div>
            <div>
                <p>Rooster</p>
            </div>
        </a>

        <a href="#">
            <div>
                <p></p>
            </div>
            <div>
                <p class="info-button">i</p>
            </div>
            <div>
                <i class="fas fa-book"></i>
            </div>
            <div>
                <p>Overzicht vakken</p>
            </div>
        </a>

        <a href="#" class="menu-button" name="results">
            <div>
                <p>1</p>
            </div>
            <div>
                <p class="info-button">i</p>
            </div>
            <div>
                <i class="fas fa-star"></i>
            </div>
            <div>
                <p>Resultaten</p>
            </div>
        </a>

        <a href="#">
            <div>
                <p></p>
            </div>
            <div>
                <p class="info-button">i</p>
            </div>
            <div>
                <i class="fas fa-chart-line"></i>
            </div>
            <div>
                <p>Studievoortgang</p>
            </div>
        </a>

        <a href="https://teamsites.mijnhva.nl" target="_blank">
            <div>
                <p></p>
            </div>
            <div>
                <p class="info-button">i</p>
            </div>
            <div>
                <i class="fas fa-mug-hot"></i>
            </div>
            <div>
                <p>Team sites</p>
            </div>
        </a>

        <a href="https://www.hva.nl/over-de-hva/contact/vind-medewerker/vind-medewerker.html" target="_blank">
            <div>
                <p></p>
            </div>
            <div>
                <p class="info-button">i</p>
            </div>
            <div>
                <i class="far fa-address-book"></i>
            </div>
            <div>
                <p>Contact gegevens</p>
            </div>
        </a>

        <a href="https://www.hva.nl/united/agenda/alle-hva-evenementen/alle-hva-evenementen.html" target="_blank">
            <div>
                <p></p>
            </div>
            <div>
                <p class="info-button">i</p>
            </div>
            <div>
                <i class="fas fa-birthday-cake"></i>
            </div>
            <div>
                <p>Evenementen</p>
            </div>
        </a>
    </article>
</main>