
#menu p, #menu i{
    display: none;
}

/* show only text */
#menu a>div:nth-child(4)>p{
    display: block;
}

@supports (display: grid) {
    /* remove IE styles */
    #menu p, #menu i{
        display: initial;
    }

    /* Acutal css */
    #menu{
        height: 100%;
        display: grid;
        place-items: center;
    }

    #menu>article{
        position: relative;
        display: grid;
        grid-template-columns: auto auto auto auto;
        column-gap: 10px;
        row-gap: 10px;
    }

    #menu>article>section{
        position: absolute;
        width: 100%;
        height: 2.5rem;
        top: -3.2rem;
        left: -2px;
        border: 2px solid black;
        border-radius: 38px;
        display: grid;
    }

    #menu>article>section>p{
        align-self:center;
        text-align: center;
        font-size: 0.78rem;
    }

    #menu>article>a{
        position: relative;
        height: 100px;
        width: 100px;
        border: 2px solid black;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1rem auto 1.35rem;
        padding: 3px;
        color: black;
        cursor: pointer;
        text-decoration: none;
    }

    #menu>article>a>div:nth-child(1){
        color: white;
        background-color: red;
        width: 1rem;
        border-radius: 72%;
        text-align: center;
        font-size: 14px;
    }

    #menu>article>a>div:nth-child(2){

    }

    #menu>article>a>div:nth-child(2)>p{
        float: right;
        color: #0000EE;
        font-size: 16px;
        width: 1rem;
        text-align: center;
        text-decoration: underline;
    }

    #menu>article>a>div:nth-child(3){
        grid-column-end: span 2;
        display: grid;
    }

    #menu>article>a>div:nth-child(3)>i{
        font-size: 54px;
        justify-self: center;
    }

    #menu>article>a:nth-child(2)>div:nth-child(3)>i{
        color:#2B78E4;
    }

    #menu>article>a>div:nth-child(4){
        grid-column-end: span 2;
        text-align: center;
        font-size: 0.78rem;
    }

    #menu>article>a>i{
        color: #0000EE;
        position: absolute;
        font-size: 0.6rem;
        right: 1px;
        bottom: 1px;
    }

    /* Small screen */
    @media (max-width: 1065px) {
        #menu>article>a:nth-child(2)>div:nth-child(3)>i{
            color:black;
        }
    }

    /* Small screen */
    @media (max-width: 595px) {
        #menu>article{
            grid-template-columns: auto auto auto;
        }        
    }

    /* Small screen */
    @media (max-width: 470px) {
        #menu>article{
            grid-template-columns: auto auto;
        }        
    }

    /* Small screen */
    @media (max-width: 290px) {
        #menu>article{
            grid-template-columns: auto;
        }        
    }

    
}